extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/descarga/rudyesteban") abrir documento
  p
  a(href="/video-static") video estático
  p
  a(href="/video-stream") video stream